{% extends 'layout.html' %}

{% block title %}A propos{% endblock %}
{% block breadcrumb %}A propos{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/bootstrap-themes/cable/index.min.css">
{% endblock %}


{% block content %}
<div align="center">
    <div>
            <p>Notre site web permet de réserver des voyages vers une quinzaine de destinations, avec des reductions, un partage via des commentaires. 
                Nous avons fait ce site dans le cadre du module WEB dans la L3 TRI.</p>    
    </div>
</div>
{% endblock %}