{% extends 'layout.html' %}

{% block title %}Destinations{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<h2>Liste des destination</h2>
{% for row in voyagesItem %}

<div class="alert alert-primary" role="alert">
    <strong><a href>{{ row.country }}, {{ row.destination }}</a></strong>
    <br /><img src={{ row.photo }} width="20%"> 
    <br />{{ row.description }}
</div>

{% endfor %}
{% endblock %}