{% extends 'layout.html' %}

{% block title %}Destinations{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
<script>
     
    function getValue() {
        var input = document.getElementById("in").value;
    }
    </script>
{% endblock %}

{% block content %}
<h2>Liste des destination</h2>
{% for row in voyagesItem %}
{% set prixreduit = row.reduction * row.prix %}

<div class="alert alert-primary" role="alert">
    <strong><a href>{{ row.country }}, {{ row.destination }}, {{ row.prix }} €</a></strong>
    <br /><img src={{ row.photo }} class="img-fluid" alt="Responsive image"> 
    <br />{{ row.description }}  {{ row.trajet }}
    <br /> <p>Prix réduit : {{ prixreduit }} €</p>

                <h2>Laissez un commentaire</h2>

                <form>
                        <input type="text" placeholder="Entrez votre commentaire" id="in">
                        <button type="button" onclick="getValue();">Envoyer votre commentaire</button>
                </form>        
</div> 
{% endfor %}
{% endblock %}
