{% extends 'layout.html' %}

{% block title %}Actualités{% endblock %}
{% block breadcrumb %}{{ title }}{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/bootstrap-themes/ectype/index.min.css">
{% endblock %}

{% block content %}
<h1>Les destinations</h1>
<br />
<div class="alert alert-danger" role="alert">
  Reductions de derniere minutes :
</div>
<div class="alert alert-success" role="alert">
  Nouvelles destinations :
</div>
<div class="alert alert-primary" role="alert">
    Toutes les destinations : 
</div>


{% endblock %}