{% extends 'layout.html' %}

{% block title %}SWME - Horaire{% endblock %}
{% block breadcrumb %}Site Web d'un magasin à emporter - Horaire{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/bootstrap-themes/cable/index.min.css">
{% endblock %}


{% block content %}
<div align="center">
    <div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">Nos horaires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lundi</td>
                    <td>8h-20h</td>
                </tr>
                <tr>
                    <td>Mardi</td>
                    <td>8h-20h</td>
                </tr>
                <tr>
                    <td>Mercredi</td>
                    <td>8h-16h</td>
                </tr>
                <tr>
                    <td>Jeudi</td>
                    <td>16h-20h</td>
                </tr>
                <tr>
                    <td>Vendredi - Dimanche </td>
                    <td>Fermé</td>
                </tr>
                <tr>
                    <td>En ligne</td>
                    <td>24h/24 7j/7</td>
                </tr>
            </tbody>
        </table>
        <p>Ou somme nous ?</p>
        <p>143 rue des pingouins, 14349 Adana</p>
    </div>
</div>
{% endblock %}