{% extends 'layout.html' %}

{% block title %}SWME - Index{% endblock %}
{% block breadcrumb %}Site Web d'un magasin à emporter - Index{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/bootstrap-themes/cable/index.min.css">
{% endblock %}


{% block content %}

<div>
    <section>
        <h1>Dernier produit en date</h1>
        <p>Un commentaire et peut etre une image</p>
    </section>
    <section>
        <h1>Avant-Dernier produit en date</h1>
        <p>Un commentaire et peut etre une image</p>
    </section>
    <section>
        <h1>Avant-Avant produit en date</h1>
        <p>Un commentaire et peut etre une image</p>
    </section>
</div>
{% endblock %}